footer{
    font-size: 5vw;
    color: white;
    
    background-color: rgb(52, 52, 52);
    & img{
        width: 30%;
        height: 30%;
        margin: 8vw 0 0vw 7vw;
        filter: invert(100%);
       
    }
    & ul{
       padding-bottom: 7vw;
        & li{
            line-height: 150%;
            list-style: none;
            & .fa-utensils{
                padding-right: 5vw;
            }
            & .fa-handshake-angle{
                padding-right: 3vw;

            }

        }
    }
}