
.title-menue{
    padding-left: 4vw;
    &:before {
     border: 1px solid black;
    }
}

.container-menue{
    width:95%;
    padding: 0;
    margin: auto;
    &_plat{
        background-color:white ;
        border-radius: 2vw;
        box-shadow: 1vw 1vw 1vw lightgrey;
        line-height: 50%;
        padding: 0.5vw 0 0.5vw 1vw;
        margin: 1.5vw;
    }
}
.buttom-command{
    @include buttom;
    display: block;
    margin: auto;
    margin-top: 10vw;
    margin-bottom:10vw;
}