


.restaurant{
    background-color: rgb(241, 240, 240);
    padding-bottom: 15vw;
    @media screen and(min-width : 1024px) {
        width:94%;
        padding: 0vw 0vw 2vw 2vw;
        margin-left: 1vw;
        border-radius: 3vw;
        margin-top: 0;
        margin-bottom: 2vw;
    }
    &_new{
        position: absolute;
        font-size: 6vw;
        background-color: $colour-tertiary;
        color: green;
        left: 57%;
        top: 7%;
        padding: 4.5vw;
        font-weight: 700;
        @media screen and(min-width : 1024px) {
        left: 57%;
        top: 5%;
        padding: 1vw 2vw 1vw 2vw;
        font-size: 1vw;
        }
    }
    & h2{
        font-size: 6vw;
        padding: 10vw 0 0 5vw;
        @media screen and(min-width : 1024px) {
            font-size: 3vw;
            padding: 1vw 0 0 2vw;
            margin-top:0 ;
        }
        
    }
    & article{

        
        cursor: pointer;
        position: relative;
        overflow: hidden;
        width: 90%;
        border-radius: 7%;
        background-color: white;
        line-height: 1.2vw;
        font-size: 4vw;
        margin: 5vw 0vw 0vw 5vw;
        @media screen and(min-width : 1024px) {
            margin: 0 0 0 0;
            font-size: 3vw;
            display: block;
            width: 80%;
        }
        
        & h3{
            margin-left: 2vw;
            @media screen and(min-width : 1024px) {
                font-size: 1.5vw;
                padding: 1vw 0 1vw 0;
                margin: 0 0 0 1vw;
            }
            
        }
        & p{
            margin-left: 2vw; 
            padding-bottom: 1vw;
            @media screen and(min-width : 1024px) {
                font-size: 1.5vw;
                padding: 0 0 1vw 0;
                margin: 0 0 0 1vw;
            }
        }
        & img{
            
            width: 90vw;
            height: 45vw;
            object-fit:cover;
            @media screen and(min-width : 1024px) {
                width: 24vw;
                height: 12vw;
                
            }
        }
        & i{ 
            
            position: absolute;
            font-size: 6vw;
            display: inline-block;
            width: 95%;
            transform:translatey(-12vw);
            text-align: right;
            @media screen and(min-width : 1024px) {
                font-size: 2vw;
                transform:translatey(-4vw);
            }
        }
       
    }
}
.container{
    @media screen and(min-width : 1024px) {
        display: flex;
    }
    
}